.checkbox__uncheck {
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__check {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__icon .checkbox__uncheck {
    opacity: 0;
}

.checkbox:checked + .checkbox__icon .checkbox__check {
    opacity: 1;
}