:root {
    --main-text-color: #212121;
    --additional-text-color: #757575;
    --additional-bg-text-color: #2196F3;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --additional-bg-color: #2F303A;
    --team-section-bg-color: #F5F4FA;
    --team-card-icon-color: #AFB1B8;
    --svg-bg-color: rgba(255, 255, 255, 0.1);
    --adress-list-color: rgba(255, 255, 255, 0.6);
    --what-we-are-doing-bg-color: rgba(47, 48, 58, 0.8);
    --portfolio-hover-bg-color: rgba(33, 150, 243, 0.9);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
    --input-placeholder-color: rgba(117, 117, 117, 0.5);
}