.advantages__title {
    display: none;
}

.advantages__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    list-style: none;

    @media screen and(min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    
    @media screen and(min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
        column-gap: 30px;
    }
}

.advantages__item {
    max-width: 100%;
}

.thumb-container {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: var(--team-section-bg-color);
}

.advantages__subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages__desc {
    font-weight: 400;
    line-height: 1.71;
    color: var(--additional-text-color);
}