.contacts {
    margin-left: auto;
    list-style: none;
    display: none;

    @media screen and(min-width: 768px) {
        display: flex;
        column-gap: 0;
        flex-direction: column;
        row-gap: 10px;
    }
    
    @media screen and(min-width: 1200px) {
        flex-direction: row;
        column-gap: 30px;
    }
}

.contacts__link {
    fill: var(--additional-text-color);
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--additional-text-color);
    text-decoration: none;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, :focus {
        color: var(--additional-bg-text-color);
        fill: var(--additional-bg-text-color);
    }
}